
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div id="page-content" class="page-content">
    <div class="banner">
        <div class="jumbotron jumbotron-bg text-center rounded-0" style="background-image: url('/HomeAssets/img/bg-header.jpg');">
            <div class="container">
                <h1 class="pt-5">
                    Contact
                </h1>
                <p class="lead">
                    Don't Hesitate to Contact Us.
                </p>
            </div>
        </div>
    </div>

    <section class="pb-0">
        <div class="contact1 mb-5">
            <div class="container">
                <div class="row mt-3">
                    <div class="col-lg-5">
                        <div class="detail-wrapper p-5 bg-primary">
                            <h3 class="font-weight-normal mb-3 text-light">
                                Freshcery Headquarter
                            </h3>

                            <p class="text-light">
                                Jl. Petani No. 159, Cibabat<br>
                                Cimahi Utara<br>
                                Kota Cimahi<br>
                                Jawa Barat 40513
                            </p>

                            <p class="text-light">
                                <i class="fas fa-phone"></i> 0898986362<br>
                                <i class="fas fa-envelope"></i> hello@freshcery.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </section>
</div>