@model MarketStore.Models.Testimonial

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";


}


<div id="page-content" class="page-content">
    <div class="banner">
        <div class="jumbotron jumbotron-bg text-center rounded-0" style="background-image: url('/HomeAssets/img/bg-header.jpg');">
            <div class="container">
                <h1 class="pt-5">
                    Testimonials
                </h1>
                <p class="lead">
                </p>
            </div>
        </div>
    </div>
</div>
@*@foreach (var item in )
{
    <div class="col-md-4">
        <div class="card border-0 text-center gray-bg">
            <div class="card-body">
                <h4 class="card-title">
                    @ViewBag.feed
                </h4>
                <h4 class="card-author">
                    @ViewBag.feed
                </h4>
                <p class="card-text">
                    @ViewBag.feed
                </p>

            </div>
        </div>
    </div>

}*@




<section class="pb-0">
    <div class="contact1 mb-5">
        <div class="container">
            <div class="row mt-3">
                <div class="col-lg-7">
                    <div class="contact-wrapper">
                        <h3 class="title font-weight-normal mt-0 text-left">Send Us a Message</h3>
                        <form data-aos="fade-left" data-aos-duration="1200" asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input asp-for="Rating" class="form-control" type="text" placeholder="Full Name">
                                        <span asp-validation-for="Rating" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Rate #/10" asp-for="Status">
                                        <span asp-validation-for="Status" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <textarea asp-for="Message" class="form-control" rows="3" placeholder="FeedBack"></textarea>
                                        <span asp-validation-for="Message" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-right">
                                    <button type="submit" value="Create" class="btn btn-lg btn-primary mb-5">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@*<h1>Create</h1>

    <h4>Testimonial</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Rating" class="control-label"></label>
                    <input asp-for="Rating" class="form-control" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Message" class="control-label"></label>
                    <input asp-for="Message" class="form-control" />
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Publishdate" class="control-label"></label>
                    <input asp-for="Publishdate" class="form-control" />
                    <span asp-validation-for="Publishdate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Userid" class="control-label"></label>
                    <select asp-for="Userid" class ="form-control" asp-items="ViewBag.Userid"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

